- provide(:title, "动态主页")

%section.user-details
  .details-mode.user-info
    .pic-txt
      .pic
        %a{:href=>"http://wx.jilinmei.com/images/fallback/thumb_default.png"}
          = image_tag("http://wx.jilinmei.com/images/fallback/thumb_default.png")
      .info
        %h3= @weixin_user.nick_name
        %p= "微信号: #{@weixin_user.user_name}"

  .box-mode.user-top-dishes
    .hd
      %h6 个性签名
    .user-description
      %p 白领消费观，购物新主张

  .box-mode.user-top-dishes
    .hd
      %h6 今日优惠
    - if !has_promo?(@weixin_user)
      .user-description
        %p 暂无优惠活动
    - else
      .user-info-list.user-left-dishes
        %ul
          - if @weixin_user.shops.size > 0
            - @weixin_user.shops.each do |shop|
              - if shop.promos.size > 0
                - shop.promos.each do |promo|
                  %li
                    %a{:href=>promo_path(promo, :shop_id=>shop.id, :spm=>@weixin_user.guid)}
                      %i.address-inpromo
                      = "【#{shop.name}】#{promo.name}"
                      %i.arrow-ent

  .box-mode.user-top-dishes
    .hd
      %h6 关注商家
    - if @weixin_user.shops.size == 0
      .user-description
        %p 您还没有关注商家
    - else
      .user-info-list.user-left-dishes
        %ul
          - @weixin_user.shops.each do |shop|
            %li
              %a{:href=>shop_url(shop, :spm=>@weixin_user.guid)}
                %i.head-already
                = shop.name
                %i.arrow-ent

