- provide(:title, "个人主页")

%section.shop-details
  .details-mode.shop-info
    .shop-name
      %h1= @weixin_user.open_id
    .pic-txt
      .pic
        %a{:href=>"http://wx.jilinmei.com/images/fallback/thumb_default.png"}
          = image_tag("http://wx.jilinmei.com/images/fallback/thumb_default.png")
      %p 姓名：吉林美

  .modebox.top-dishes
    .hd
      %h6 个性签名
    .shop-description
      %p 白领消费观，购物新主张

  .modebox.top-dishes
    .hd
      %h6 今日优惠
    - if !has_promo?(@weixin_user)
      .shop-description
        %p 暂无优惠活动

  .details-mode.promo-info
    - if has_promo?(@weixin_user)
      .info-list
        %ul
          - if @weixin_user.shops.size > 0
            - @weixin_user.shops.each do |shop|
              - if shop.promos.size > 0
                - shop.promos.each do |promo|
                  %li
                    %a{:href=>promo_path(promo, :shop_id=>shop.id, :spm=>@weixin_user.guid)}
                      %i.address-inpromo
                      = "【#{shop.name}】#{promo.name}"
                      %i.arrow-ent

  .modebox.top-dishes
    .hd
      %h6 关注商家
    - if @weixin_user.shops.size == 0
      .shop-description
        %p 您还没有关注商家

  .details-mode.promo-info
    - if @weixin_user.shops.size > 0
      .info-list
        %ul
          - @weixin_user.shops.each do |shop|
            %li
              %a{:href=>shop_url(shop, :spm=>@weixin_user.guid)}
                %i.head-already
                = shop.name
                %i.arrow-ent

