= form_for [:admin, @shop], :html => {:class=>"form-horizontal"} do |f|
  - if @shop.errors.any?
    #error_explanation
      %h2= "#{pluralize(@shop.errors.count, "error")} prohibited this shop from being saved:"
      %ul
        - @shop.errors.full_messages.each do |msg|
          %li= msg

  - if super_signed_in?
    .control-group
      = f.label :status, :class=>"control-label"
      .controls
        = f.text_field :status, :class=>"input-xxlarge"
  .control-group
    = f.label :name, "名称", :class=>"control-label"
    .controls
      = f.text_field :name, :class=>"input-xxlarge"

  .control-group
    = f.label :navigation, "分类", :class=>"control-label"
    .controls
      = f.text_field :navigation, :class=>"category-input input-xxlarge"
    - @categories.each do |category|
      .controls
        .label.category-label= category.name
        = ":&nbsp".html_safe
        - category.children.each do |child|
          .label.category-label= child.name
    .controls
      .label.label-warning.category-input-clear 清除所有分类

  .control-group
    = f.label :districts, "区域", :class=>"control-label"
    .controls
      = f.text_field :districts, :class=>"district-input input-xxlarge"
    - @districts.each do |district|
      .controls
        .label.district-label= district.name
        = ":&nbsp".html_safe
        - district.children.each do |child|
          .label.district-label= child.name
    .controls
      .label.label-warning.district-input-clear 清除所有区域

  - if super_signed_in?
    .control-group
      = f.label :poi, :class=>"control-label"
      .controls
        = f.text_field :poi, :class=>"input-xxlarge"
  .control-group
    = f.label :latitude, "纬度", :class=>"control-label"
    .controls
      = f.text_field :latitude, :class=>"input-xxlarge"
  .control-group
    = f.label :longitude, "经度", :class=>"control-label"
    .controls
      = f.text_field :longitude, :class=>"input-xxlarge"
  .control-group
    = f.label :star, "评分", :class=>"control-label"
    .controls
      = f.text_field :star, :class=>"input-xxlarge"
  .control-group
    = f.label :avg_price, "人均消费", :class=>"control-label"
    .controls
      = f.text_field :avg_price, :class=>"input-xxlarge"
  - if super_signed_in?
    .control-group
      = f.label :product_rating, :class=>"control-label"
      .controls
        = f.text_field :product_rating, :class=>"input-xxlarge"
    .control-group
      = f.label :environment_rating, :class=>"control-label"
      .controls
        = f.text_field :environment_rating, :class=>"input-xxlarge"
    .control-group
      = f.label :service_rating, :class=>"control-label"
      .controls
        = f.text_field :service_rating, :class=>"input-xxlarge"
  .control-group
    = f.label :recommended_products, "经营内容", :class=>"control-label"
    .controls
      = f.text_area :recommended_products, :rows=>6, :class=>"input-xxlarge"
  .control-group
    = f.label :address, "地址", :class=>"control-label"
    .controls
      = f.text_field :address, :class=>"input-xxlarge"
  .control-group
    = f.label :phone, "电话", :class=>"control-label"
    .controls
      = f.text_field :phone, :class=>"input-xxlarge"
  .control-group
    = f.label :description, "描述", :class=>"control-label"
    .controls
      = f.text_area :description, :rows=>6, :class=>"input-xxlarge"
  - if super_signed_in?
    .control-group
      = f.label :alias, :class=>"control-label"
      .controls
        = f.text_field :alias, :class=>"input-xxlarge"
    .control-group
      = f.label :hours, :class=>"control-label"
      .controls
        = f.text_field :hours, :class=>"input-xxlarge"
    .control-group
      = f.label :atmosphere, :class=>"control-label"
      .controls
        = f.text_field :atmosphere, :class=>"input-xxlarge"
    .control-group
      = f.label :characteristics, :class=>"control-label"
      .controls
        = f.text_field :characteristics, :class=>"input-xxlarge"

  .control-group
    = f.label :thumb, "照片", :class=>"control-label"
    .controls
      = image_tag @shop.thumb_url(:normal)
    .controls
      = f.file_field :thumb

  .control-group
    .controls
      = f.submit :class=>"btn btn-success"
      = link_to 'Back', admin_shops_path, :class=>"btn"

