.row
  .span4
    %h2 商家列表
  .span4
    .new-shop-button
      = form_tag search_admin_shops_path, :method=>"get", :class=>"form-search" do |f|
        = text_field_tag :keywords, nil, {:autocomplete=>"off", :placeholder=>"请输入商家名称", :class=>"input-large search-query"}
        = submit_tag "搜索", {:hidefocus=>"true", :class=>"btn btn-info"}
  - if super_signed_in?
    .span4
      .new-shop-button
        = link_to '全部', admin_shops_path, :class=>"btn"
        .btn-group
          %button.btn.dropdown-toggle{"data-toggle"=>"dropdown"}
            审核
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to '待审核(li)', not_verify_admin_shops_path(:editor=>"846713848@qq.com")
              = link_to '待审核(wang)', not_verify_admin_shops_path(:editor=>"469909985@qq.com")
            %li.divider
            %li
              = link_to '审核失败(li)', verify_fail_admin_shops_path(:editor=>"846713848@qq.com")
              = link_to '审核失败(wang)', verify_fail_admin_shops_path(:editor=>"469909985@qq.com")
        .btn-group
          %button.btn.dropdown-toggle{"data-toggle"=>"dropdown"}
            特殊
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to '能订餐', can_dingcan_admin_shops_path
            %li.divider
            %li
              = link_to '有优惠', have_promos_admin_shops_path
        = link_to '新增商家', new_admin_shop_path, :class=>"btn btn-primary"
  - else
    .offset2.span2
      .new-shop-button
        = link_to '新增商家', new_admin_shop_path, :class=>"btn btn-primary"

%table.table.table-striped
  %tr
    %th 编号
    %th 状态
    %th 名称
    %th 类别
    %th 照片
    %th 地址
    %th 电话
    %th 编辑
    - if super_signed_in?
      %th{:width=>"250"} 操作
    - else
      %th{:width=>"120"} 操作

  - @shops.each do |shop|
    %tr
      %td= shop.id
      %td= shop.status
      %td= shop.name
      %td= shop.navigation
      %td= image_tag(shop.thumb_url(:thumb), :height => "40")
      %td= shop.address
      %td= shop.phone
      %td= shop.editor
      %td
        - if super_signed_in?
          = link_to 'Show', shop, :target=>"_blank", :class=>"btn btn-small"
        = link_to 'Show', admin_shop_path(shop), :class=>"btn btn-small btn-warning"
        = link_to 'Edit', edit_admin_shop_path(shop), :class=>"btn btn-small btn-info"
        - if super_signed_in?
          = link_to 'Destroy', admin_shop_path(shop), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class=>"btn btn-small btn-danger"

- if action_name != "can_dingcan"
  .page-nav-wrapper
    = paginate @shops

