.row
  .span2
    %h2 List shops
  .offset8.span2
    .new-shop-button
      = link_to 'New Shop', new_admin_shop_path, :class=>"btn btn-primary"

%table.table.table-striped
  %tr
    %th id
    %th shop_id
    %th name
    %th navigation
    %th latitude
    %th longitude
    %th thumb
    %th address
    %th phone
    %th{:width=>"250"} operation

  - @shops.each do |shop|
    %tr
      %td= shop.id
      %td= shop.shop_id
      %td= shop.name
      %td= shop.navigation
      %td= shop.latitude
      %td= shop.longitude
      %td= image_tag(shop.thumb, :height => "40")
      %td= shop.address
      %td= shop.phone
      %td
        = link_to 'Show', shop, :target=>"_blank", :class=>"btn btn-small"
        = link_to 'Show', admin_shop_path(shop), :class=>"btn btn-small btn-warning"
        = link_to 'Edit', edit_admin_shop_path(shop), :class=>"btn btn-small btn-info"
        = link_to 'Destroy', admin_shop_path(shop), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class=>"btn btn-small btn-danger"


