.row
  .span2
    %h2 商家列表
  .offset8.span2
    .new-shop-button
      = link_to '新增商家', new_admin_shop_path, :class=>"btn btn-primary"

%table.table.table-striped
  %tr
    %th 编号
    %th 状态
    %th 名称
    %th 类别
    %th 照片
    %th 地址
    %th 电话
    %th 编辑
    - if super_signed_in?
      %th{:width=>"250"} 操作
    - else
      %th{:width=>"120"} 操作

  - @shops.each do |shop|
    %tr
      %td= shop.id
      %td= shop.status
      %td= shop.name
      %td= shop.navigation
      %td= image_tag(shop.thumb_url(:thumb), :height => "40")
      %td= shop.address
      %td= shop.phone
      %td= shop.editor
      %td
        - if super_signed_in?
          = link_to 'Show', shop, :target=>"_blank", :class=>"btn btn-small"
        = link_to 'Show', admin_shop_path(shop), :class=>"btn btn-small btn-warning"
        = link_to 'Edit', edit_admin_shop_path(shop), :class=>"btn btn-small btn-info"
        - if super_signed_in?
          = link_to 'Destroy', admin_shop_path(shop), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class=>"btn btn-small btn-danger"

.page-nav-wrapper
  = paginate @shops

