= render "index_buttons"

%table.table.table-striped
  %tr
    %th 编号
    %th 状态
    %th 名称
    %th 类别
    %th 区域
    %th= @column
    - if super_signed_in?
      %th{:width=>"250"} 操作
    - else
      %th{:width=>"120"} 操作

  - @shops.each do |shop|
    %tr
      %td= shop.id
      %td= shop.status
      %td= shop.name
      %td= shop.navigation
      %td= shop.districts
      %td= shop.send(@column)
      %td
        - if super_signed_in?
          = link_to 'Show', shop, :target=>"_blank", :class=>"btn btn-small"
        = link_to 'Show', admin_shop_path(shop), :class=>"btn btn-small btn-warning"
        = link_to 'Edit', edit_admin_shop_path(shop), :class=>"btn btn-small btn-info"
        - if super_signed_in?
          = link_to 'Destroy', admin_shop_path(shop), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class=>"btn btn-small btn-danger"

- if action_name != "can_dingcan" and action_name != "have_promos"
  .page-nav-wrapper
    = paginate @shops

