%h2 商家详情

= form_for [:admin, @shop], :html => {:class=>"form-horizontal"} do |f|
  .row
    .span8
      .control-group
        = f.label :status, "状态", :class=>"control-label"
        .controls
          = f.text_field :status, :class=>"input-xxlarge", :disabled=>"disabled"
      .control-group
        = f.label :name, "名称", :class=>"control-label"
        .controls
          = f.text_field :name, :class=>"input-xxlarge", :disabled=>"disabled"
      .control-group
        = f.label :navigation, "分类", :class=>"control-label"
        .controls
          = f.text_field :navigation, :class=>"input-xxlarge", :disabled=>"disabled"
      - if super_signed_in?
        .control-group
          = f.label :poi, :class=>"control-label"
          .controls
            = f.text_field :poi, :class=>"input-xxlarge", :disabled=>"disabled"
      .control-group
        = f.label :latitude, "纬度", :class=>"control-label"
        .controls
          = f.text_field :latitude, :class=>"input-xxlarge", :disabled=>"disabled"
      .control-group
        = f.label :longitude, "经度", :class=>"control-label"
        .controls
          = f.text_field :longitude, :class=>"input-xxlarge", :disabled=>"disabled"
      .control-group
        = f.label :star, "评分", :class=>"control-label"
        .controls
          = f.text_field :star, :class=>"input-xxlarge", :disabled=>"disabled"
      .control-group
        = f.label :avg_price, "人均消费", :class=>"control-label"
        .controls
          = f.text_field :avg_price, :class=>"input-xxlarge", :disabled=>"disabled"
      - if super_signed_in?
        .control-group
          = f.label :product_rating, :class=>"control-label"
          .controls
            = f.text_field :product_rating, :class=>"input-xxlarge", :disabled=>"disabled"
        .control-group
          = f.label :environment_rating, :class=>"control-label"
          .controls
            = f.text_field :environment_rating, :class=>"input-xxlarge", :disabled=>"disabled"
        .control-group
          = f.label :service_rating, :class=>"control-label"
          .controls
            = f.text_field :service_rating, :class=>"input-xxlarge", :disabled=>"disabled"
      .control-group
        = f.label :recommended_products, "经营内容", :class=>"control-label"
        .controls
          = f.text_area :recommended_products, :rows=>6, :class=>"input-xxlarge", :disabled=>"disabled"
      .control-group
        = f.label :address, "地址", :class=>"control-label"
        .controls
          = f.text_field :address, :class=>"input-xxlarge", :disabled=>"disabled"
      .control-group
        = f.label :phone, "电话", :class=>"control-label"
        .controls
          = f.text_field :phone, :class=>"input-xxlarge", :disabled=>"disabled"
      .control-group
        = f.label :description, "描述", :class=>"control-label"
        .controls
          = f.text_area :description, :rows=>6, :class=>"input-xxlarge", :disabled=>"disabled"
      - if super_signed_in?
        .control-group
          = f.label :alias, :class=>"control-label"
          .controls
            = f.text_field :alias, :class=>"input-xxlarge", :disabled=>"disabled"
        .control-group
          = f.label :hours, :class=>"control-label"
          .controls
            = f.text_field :hours, :class=>"input-xxlarge", :disabled=>"disabled"
        .control-group
          = f.label :atmosphere, :class=>"control-label"
          .controls
            = f.text_field :atmosphere, :class=>"input-xxlarge", :disabled=>"disabled"
        .control-group
          = f.label :characteristics, :class=>"control-label"
          .controls
            = f.text_field :characteristics, :class=>"input-xxlarge", :disabled=>"disabled"

      .control-group
        = f.label :thumb, "照片", :class=>"control-label"
        .controls
          = image_tag @shop.thumb_url(:normal)

      .control-group
        = f.label "打折信息", :class=>"control-label"
        .controls
          - @shop.promos.each do |promo|
            %p= link_to promo.name, admin_promo_path(promo), :target=>"_blank", :class=>"btn btn-danger"

      .control-group
        = f.label "商品", :class=>"control-label"
        .controls
          %a{:href=>"#myModal", "data-toggle"=>"modal", :class=>"btn btn-primary"} 新增商品
          %p
          %table.table.table-striped
            %tr
              %th 名称
              %th 价格
              %th{:width=>"120"} 操作
            - @shop.products.each do |p|
              %tr
                %td= p.name
                %td= p.price
                %td
                  = link_to 'Edit', "#", :class=>"btn btn-small btn-info"
                  = link_to 'Destroy', admin_product_path(p), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class=>"btn btn-small btn-danger"

      .control-group
        .controls
          = link_to 'Edit', edit_admin_shop_path(@shop), :class=>"btn btn-info"
          = link_to 'Back', admin_shops_path, :class=>"btn"
    .span4
      = javascript_include_tag "http://api.map.baidu.com/api?v=1.3"
      #mapbox{"data-latitude"=>@shop.latitude, "data-longitude"=>@shop.longitude}

#myModal.modal.hide.fade{:tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
  .modal-header
    %button.close{:type=>"button", "data-dismiss"=>"modal", "aria-hidden"=>"true"} &times;
    %h3#myModalLabel 新增商品

  .modal-body
    = form_for [:admin, @product], :html => {:class=>"form-horizontal"} do |f|
      = hidden_field_tag :shop_id, @shop.id
      .control-group
        = f.label :name, "名称", :class=>"control-label"
        .controls
          = f.text_field :name
      .control-group
        = f.label :price, "价格", :class=>"control-label"
        .controls
          = f.text_field :price
      .control-group
        = f.label :sales, "销量", :class=>"control-label"
        .controls
          = f.text_field :sales
      .control-group
        = f.label :star, "评分", :class=>"control-label"
        .controls
          = f.text_field :star

      .control-group
        .controls
          = f.submit :class=>"btn btn-success"
          %button.btn{"data-dismiss"=>"modal", "aria-hidden"=>"true"} Close

