- provide(:title, "商家详情")

%section.shop-details
  .details-mode.shop-info
    .shop-name
      %h1= @shop.name
    .pic-txt
      .pic
        %a{:href=>"weixin://viewimage/http://wx.jilinmei.com#{@shop.thumb_url(:normal)}"}
          = image_tag(@shop.thumb_url(:small))
      %p
        %span.item-rank-rst{:class=>"irr-star#{@shop.star}"}
      %p= "人均:¥#{@shop.avg_price}"
      .desc
        %span= "口味:#{@shop.product_rating}"
        %span= "环境:#{@shop.environment_rating}"
        %span= "服务:#{@shop.service_rating}"

  .details-mode.info-address
    .info-list
      %ul
        - if !@shop.address.empty?
          %li
            %a{:href=>"/shops/map/#{@shop.id}"}
              %i.icon-address
              = @shop.address
              %i.arrow-ent
        - if !@shop.phone.empty?
          - get_phones(@shop.phone).each do |phone|
            %li
              %a#click-phone{:href=>shops_phone_path(:phone=>phone, :shop_id=>@shop.id, :keywords=>@keywords, :spm=>@guid)}
                %i.icon-call
                = phone
                %i.arrow-ent

  .details-mode.promo-info
    .info-list
      %ul
        - @shop.promos.each do |promo|
          %li
            %a{:href=>promo_path(promo, :shop_id=>@shop.id, :spm=>@guid)}
              %i.address-inpromo
              = promo.name
              %i.arrow-ent

  .modebox.top-dishes
    - if @recommended_products.size > 0
      .hd
        %h6 推荐菜
      - @recommended_products.each do |group|
        .dp-3gcon-index
          - group.each do |p|
            .dish
              - if @keywords and !@keywords.empty? and p.index(@keywords)
                .shop-match-keywords= p
              - else
                = p
              .sx

  .modebox.top-dishes
    - if @shop.products.size > 0
      .hd
        %h6 订餐菜单
      %table.table
        %tbody
          - @shop.products.each do |product|
            %tr
              - if @keywords and !@keywords.empty? and product.name.index(@keywords)
                %td.shop-match-keywords= product.name
                %td.shop-match-keywords= "#{product.price} 元"
              - else
                %td= product.name
                %td= "#{product.price} 元"

= render "shared/weixin_tail"

-#
  <script>
  $(function(){
  $("#click-phone").click(function() {
  var url = "http://log.jilinmei.com/test.html";
  var Img = document.createElement("img");
  Img.src = url;
  document.body.appendChild(Img);
  document.body.removeChild(Img);
  });
  });
  </script>

