- provide(:title, @shop.name)

.page-bizinfo
  .header
    %h1#activity-name= @shop.name
    %p.activity-info
      %span#post-date.activity-meta.no-extra= Time.now.strftime('%Y-%m-%d')

.page-content
  .media#media= image_tag(@shop.thumb)
  .text
    %p= "地址：#{@shop.address}"
    %p= "电话：#{@shop.phone}"
    %br

    - if @shop.promos.size > 0
      %p 优惠券：
      - @shop.promos.each do |promo|
        %p= link_to promo.name, promo_path(promo, :shop_id=>@shop.id, :spm=>@guid)
      %br

    %p= "人均：¥#{@shop.avg_price}"
    %p= "口味：#{@shop.product_rating}  环境：#{@shop.environment_rating}  服务：#{@shop.service_rating}"
    %br

    %p 推荐菜：
    %p= "#{@shop.recommended_products}"

