- provide(:title, "商家详情")

%section.shop-details
  .details-mode.shop-info
    .shop-name
      %h1= @shop.name
    .pic-txt
      .pic
        %a{:href=>@shop.thumb}
          = image_tag(@shop.thumb_url(:small))
      %p
        %span.item-rank-rst{:class=>"irr-star#{@shop.star}"}
      %p= "人均:¥#{@shop.avg_price}"
      .desc
        %span= "口味:#{@shop.product_rating}"
        %span= "环境:#{@shop.environment_rating}"
        %span= "服务:#{@shop.service_rating}"

  .details-mode.info-address
    .info-list
      %ul
        - if !@shop.address.empty?
          %li
            %a{:href=>"/shops/map/#{@shop.id}"}
              %i.icon-address
              = @shop.address
              %i.arrow-ent
        - if !@shop.phone.empty?
          %li
            %a{:href=>"tel:#{@shop.phone}"}
              %i.icon-call
              = @shop.phone
              %i.arrow-ent

  .details-mode.promo-info
    .info-list
      %ul
        - @shop.promos.each do |promo|
          %li
            %a{:href=>promo_path(promo, :shop_id=>@shop.id, :spm=>@guid)}
              %i.address-inpromo
              = promo.name
              %i.arrow-ent

  .modebox.top-dishes
    - if @recommended_products.size > 0
      .hd
        %h6 推荐菜
      - @recommended_products.each do |group|
        .dp-3gcon-index
          - group.each do |p|
            .dish
              %a
                = p
              .sx

  .modebox.top-dishes
    - if @shop.products.size > 0
      .hd
        %h6 订餐菜单
      %table.table.table-striped
        %tbody
          %tr
            %th 名称
            %th 价格
          - @shop.products.each do |product|
            %tr
              %td= product.name
              %td= "#{product.price} 元"

