- provide(:title, @shop.name)

.page-bizinfo
  .header
    %h1#activity-name= @shop.name
    %p.activity-info
      %span#post-date.activity-meta.no-extra= Time.now.strftime('%Y-%m-%d')

.page-content
  .media#media= image_tag(@shop.thumb)
  .text
    %p= "地址：#{@shop.address}"
    %p= "电话：#{@shop.phone}"
    %br
    %p= "人均：¥#{@shop.avg_price}"
    %p= "口味：#{@shop.product_rating}  环境：#{@shop.environment_rating}  服务：#{@shop.service_rating}"
    %br
    %p 推荐菜：
    %p= "#{@shop.recommended_products}"

