= form_for [:admin, @promo], :html => {:class=>"form-horizontal"} do |f|
  - if @promo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@promo.errors.count, "error")} prohibited this promo from being saved:"
      %ul
        - @promo.errors.full_messages.each do |msg|
          %li= msg

  - if super_signed_in?
    .control-group
      = f.label :status, :class=>"control-label"
      .controls
        = f.select :status, generate_promo_status, :selected=>@promo.status
  .control-group
    = f.label :remarks, "审核记录", :class=>"control-label"
    .controls
      = f.text_area :remarks, :rows=>6, :class=>"input-xxlarge"
  .control-group
    = f.label :name, "名称", :class=>"control-label"
    .controls
      = f.text_field :name, :class=>"input-xxlarge"
  .control-group
    = f.label :content, "内容", :class=>"control-label"
    .controls
      = f.text_area :content, :rows=>6, :class=>"input-xxlarge"
  .control-group
    = f.label :begin_at, "开始日期", :class=>"control-label"
    .controls
      = f.text_field :begin_at, :class=>"input-xxlarge"
  .control-group
    = f.label :end_at, "结束日期", :class=>"control-label"
    .controls
      = f.text_field :end_at, :class=>"input-xxlarge"

  .control-group
    = f.label :thumb, "照片", :class=>"control-label"
    .controls
      = image_tag @promo.thumb_url(:normal)
    .controls
      = f.file_field :thumb

  .control-group
    = f.label "商家信息", :class=>"control-label"
    .controls
      = select_tag "shops", options_for_select(@shops.map{|c| [c.name, c.id]}, @promo.shops.map{|c| c.id}), {:multiple=>true, :size=>10, :class=>"input-xxlarge"}
    -#
      = f.select( :shops, @shops.map{|c| [c.name, c.id]}, :selected=>nil)
      = f.select :shops, @shops.map{|x| [x.name, x.id]}, {}, {:multiple=>true, :size=>10}
      = select_tag "shops", options_from_collection_for_select(@shops, "id", "name"), {:multiple=>true, :size=>10}

  .control-group
    .controls
      = f.submit :class=>"btn btn-success"
      = link_to 'Back', admin_promos_path, :class=>"btn"

