.row
  .span3
    %h2 打折列表
  - if super_signed_in?
    .offset5.span4
      .new-shop-button
        = link_to '全部', admin_promos_path, :class=>"btn"
        .btn-group
          %button.btn.dropdown-toggle{"data-toggle"=>"dropdown"}
            审核
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to '待审核', not_verify_admin_promos_path
              = link_to '待审核(8467)', not_verify_admin_promos_path(:editor=>"846713848@qq.com")
              = link_to '待审核(4699)', not_verify_admin_promos_path(:editor=>"469909985@qq.com")
            %li.divider
            %li
              = link_to '审核失败', verify_fail_admin_promos_path
              = link_to '审核失败(8467)', verify_fail_admin_promos_path(:editor=>"846713848@qq.com")
              = link_to '审核失败(4699)', verify_fail_admin_promos_path(:editor=>"469909985@qq.com")
        = link_to '新增商家', new_admin_promo_path, :class=>"btn btn-primary"
  - else
    .offset5.span4
      .new-shop-button
        = link_to '全部', admin_promos_path, :class=>"btn"
        = link_to '待审核', not_verify_admin_promos_path(:editor=>"#{current_editor.email}"), :class=>"btn"
        = link_to '审核失败', verify_fail_admin_promos_path(:editor=>"#{current_editor.email}"), :class=>"btn"
        = link_to '新增打折', new_admin_promo_path, :class=>"btn btn-primary"

%table.table.table-striped
  %tr
    %th 编号
    %th 状态
    %th 名称
    %th 内容
    %th 开始日期
    %th 结束日期
    %th 照片
    %th 编辑
    - if super_signed_in?
      %th{:width=>"250"} 操作
    - else
      %th{:width=>"120"} 操作

  - @promos.each do |promo|
    %tr
      %td= promo.id
      %td= promo.status
      %td= promo.name
      %td= promo.content
      %td= get_format_date(promo.begin_at)
      %td= get_format_date(promo.end_at)
      %td= image_tag(promo.thumb_url(:thumb), :height => "40")
      %td= promo.editor
      %td
        - if super_signed_in?
          = link_to 'Show', promo, :target=>"_blank", :class=>"btn btn-small"
        = link_to 'Show', admin_promo_path(promo), :class=>"btn btn-small btn-warning"
        = link_to 'Edit', edit_admin_promo_path(promo), :class=>"btn btn-small btn-info"
        - if super_signed_in?
          = link_to 'Destroy', admin_promo_path(promo), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class=>"btn btn-small btn-danger"

.page-nav-wrapper
  = paginate @promos
