%section.shop-promo
  .promo-details
    %h6= @promo.name
    - if @promo.thumb and !@promo.thumb.empty?
      .media#media= image_tag(@promo.thumb)
    .promo-txt= @promo.content
    %p.promo-time= "有效期：#{get_format_date(@promo.begin_at)} 至 #{get_format_date(@promo.end_at)}"

  %a{:class=>"icon-btn", :id=>"send-mobile", :href=>"javascript:;"}
    发送到手机
    %i.client

  .promo-suit
    %h6 适用商户
    .coupon-list.coupon-list-m
      %ul
        - @promo.shops.each do |shop|
          %li
            %a
              %p.tit
                = shop.name
                /%em.tips &lt;100m
                %p.explai= shop.address

  %br
  .pop-main
    .pop-con
      = form_tag coupons_path(:spm=>@guid), :remote=>true do |f|
        = hidden_field_tag :shop_id, @shop_id
        = hidden_field_tag :promo_id, @promo.id
        .warn
          %p 请输入手机号
          %p
            = text_field_tag :mobile, @weixin_user ? @weixin_user.mobile : "", :class=>"inp-stor", :placeholder=>"输入手机号"
          %p.msg-holder
        .pop-btn
          = submit_tag "确定", :id=>"pop-confirm"
          %input#pop-cancel{:type=>"button", :value=>"取消", :name=>"cancel"}

