- provide(:title, "优惠券详情")

%section.shop-promo
  .promo-details
    %h3= @promo.name
    - if @promo.thumb and @promo.thumb.to_s != "/images/fallback/default.png"
      .pic-wrapper
        = image_tag(@promo.thumb_url(:normal))
    %p.promo-name= "- #{@promo.name} -"
    %p.promo-txt= "优惠时间：#{get_format_date(@promo.begin_at)} 至 #{get_format_date(@promo.end_at)}"
    %p.promo-txt= "商家地址：#{@shop_detail_address}"
    %br
    %h6 - 详细内容 -
    %p.promo-txt= @promo.content

  .promo-suit
    %h6 - 适用商家 -
    .coupon-list.coupon-list-m
      %ul
        - @promo.shops.each do |shop|
          %li
            %a
              %p.tit
                = shop.name
                /%em.tips &lt;100m
                %p.explai= shop.address

-#
  %a{:class=>"icon-btn", :id=>"send-mobile", :href=>"javascript:;"}
    发送到手机
    %i.client

  %br
  .pop-main
    .pop-con
      = form_tag coupons_path(:spm=>@guid), :remote=>true do |f|
        = hidden_field_tag :shop_id, @shop ? @shop.id : nil
        = hidden_field_tag :promo_id, @promo.id
        .warn
          %p 请输入手机号
          %p
            = text_field_tag :mobile, @weixin_user ? @weixin_user.mobile : "", :class=>"inp-stor", :placeholder=>"输入手机号"
          %p.msg-holder
        .pop-btn
          = submit_tag "确定", :id=>"pop-confirm"
          %input#pop-cancel{:type=>"button", :value=>"取消", :name=>"cancel"}

= render "shared/weixin_tail"

