.row
  .span3
    %h2 List categories
  .offset7.span2
    .new-shop-button
      = link_to 'New Category', new_admin_category_path, :class=>"btn btn-primary"

%table.table.table-striped
  %tr
    %th id
    %th name
    %th parent
    %th{:width=>"250"} operation

  - @categories.each do |category|
    %tr
      %td= category.id
      %td= category.name
      - if category.parent
        %td= category.parent.name
      - else
        %td
      %td
        = link_to 'Child', new_admin_category_path(:parent_id=>category.id), :class=>"btn btn-small"
        = link_to 'Show', admin_category_path(category), :class=>"btn btn-small btn-warning"
        = link_to 'Edit', edit_admin_category_path(category), :class=>"btn btn-small btn-info"
        = link_to 'Destroy', admin_category_path(category), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class=>"btn btn-small btn-danger"

    - category.children.each do |child|
      %tr
        %td= child.id
        %td= "&nbsp'--&nbsp#{child.name}".html_safe
        - if child.parent
          %td= child.parent.name
        - else
          %td
        %td
          = link_to 'Child', new_admin_category_path(:parent_id=>child.id), :class=>"btn btn-small"
          = link_to 'Show', admin_category_path(child), :class=>"btn btn-small btn-warning"
          = link_to 'Edit', edit_admin_category_path(child), :class=>"btn btn-small btn-info"
          = link_to 'Destroy', admin_category_path(child), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class=>"btn btn-small btn-danger"

      - child.children.each do |grandchild|
        %tr
          %td= grandchild.id
          %td= "&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp'--&nbsp#{grandchild.name}".html_safe
          - if grandchild.parent
            %td= grandchild.parent.name
          - else
            %td
          %td
            = link_to 'Child', new_admin_category_path(:parent_id=>grandchild.id), :class=>"btn btn-small"
            = link_to 'Show', admin_category_path(grandchild), :class=>"btn btn-small btn-warning"
            = link_to 'Edit', edit_admin_category_path(grandchild), :class=>"btn btn-small btn-info"
            = link_to 'Destroy', admin_category_path(grandchild), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class=>"btn btn-small btn-danger"

