%h2= "编辑#{@shop.name}商品"

= form_for [:admin, @product], :html => {:class=>"form-horizontal"} do |f|
  - if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  = hidden_field_tag :shop_id, @shop.id
  .control-group
    = f.label :name, "名称", :class=>"control-label"
    .controls
      = f.text_field :name, :class=>"input-xxlarge"
  .control-group
    = f.label :price, "价格", :class=>"control-label"
    .controls
      = f.text_field :price, :class=>"input-xxlarge"
  - if super_signed_in?
    .control-group
      = f.label :sales, "销量", :class=>"control-label"
      .controls
        = f.text_field :sales, :class=>"input-xxlarge"
    .control-group
      = f.label :star, "评分", :class=>"control-label"
      .controls
        = f.text_field :star, :class=>"input-xxlarge"

  .control-group
    .controls
      = f.submit :class=>"btn btn-success"
      = link_to 'Back', admin_shop_path(@shop), :class=>"btn"

