<xml>
  <ToUserName><![CDATA[<%= params[:xml][:FromUserName] %>]]></ToUserName>
  <FromUserName><![CDATA[<%= params[:xml][:ToUserName] %>]]></FromUserName>
  <CreateTime><%= Time.now.to_i %></CreateTime>
  <MsgType><![CDATA[news]]></MsgType>
  <ArticleCount><%= @shops.size %></ArticleCount>
  <Articles>
    <% @shops.each do |shop| %>
      <item>
        <Title><![CDATA[<%= shop.name %>]]></Title> 
        <Description><![CDATA[<%= shop.name %>]]></Description>
        <PicUrl><![CDATA[<%= root_url + shop.thumb %>]]></PicUrl>
        <Url><![CDATA[<%= shop_url(shop) %>]]></Url>
      </item>
    <% end %>
  </Articles>
  <FuncFlag>1</FuncFlag>
</xml> 
