!!! 5
%html
  %head
    %title= "Diamond"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          .nav-collapse.collapse
            .row
              .span6
                %ul.nav
                  %li.active= link_to "首页", root_path
                  %li= link_to "优惠折扣", root_path
                  %li= link_to "商家信息", root_path

    .container
      = yield

    .footer
      .container
        %p © Jilinmei 2013

