!!! 5
%html
  %head
    %title= "#{yield(:title)}"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    <meta http-equiv=Content-Type content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          .nav-collapse.collapse
            .row
              .span6
                %ul.nav
                  %li{:class => (controller_name=="home"?"active":nil)}= link_to "首页", root_path
                  %li{:class => (controller_name=="shops"?"active":nil)}= link_to "商家管理", admin_shops_path
                  %li{:class => (controller_name=="promos"?"active":nil)}= link_to "打折管理", admin_promos_path
                  %li{:class => (controller_name=="shop_promo_relationships"?"active":nil)}= link_to "关系管理", admin_shop_promo_relationships_path
              - if super_signed_in?
                .offset5.span1
                  %ul.nav
                    %li= link_to "退出", destroy_super_session_path, :method => :delete
                  

    .container
      = render "layouts/flash_messages"
      = yield

    .footer
      .container
        %p © Jilinmei 2013

